@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Nunito Sans";
    src: url("../assets/fonts/NunitoSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../assets/fonts/NunitoSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../assets/fonts/NunitoSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@layer base {
    html {
        font-family: "Nunito Sans", system-ui, sans-serif;
    }

    .custom-container {
        @apply container max-w-7xl mx-auto px-8;
    }
}

html, body {
    height: 100%;
}

#__next {
    min-height: 100%;
    background-color: #FAFAFA;
}

